body html {
    top: 0;
    bottom: 0;
}

#logo {
  height: 100px;
  width: 120px;
}

#title-bar, #title-bar-mobile {
  position: fixed;
  top: 0;
  transition: top 0.6s;
}

#services {
  padding: 2em;
  /*height: 600px;*/
}

#services a {
  color: black;
}

#services a:hover {
  color: #BF0A30;
  text-decoration: none;
}

#services h2 {
  padding-bottom: .5em;
}

#service-page li {
  list-style: none;
  font-size: 2em;
  font-weight: bold;
  font-family: 'Encode Sans Semi Expanded', sans-serif;
  padding: .5em 0 .5em 0;
  margin-top: .75em;
}

#service-page img {
  height: 100px;
  width: 120px;
  float: left;
}

#service-page p {
  display: inline;
  color: rgba(0,0,0, 0.6);
}

#service.media {
    vertical-align: middle;
    padding-left: 5em;
}

#services-description {
  font-size: 16px;
  color: black;
}

.reg-bg {
  padding: 0em 1em 1em 1em;
}

.alt-bg {
  background-color: whitesmoke;
  padding: 0em 1em 1em 1em;
  color: black;
  font-weight: 400;
  border-radius: 1.5em;

}

.service-item {

}

.media img {
  height: 80px;
  width: 100px;
}

.media:hover{
  -webkit-box-shadow: 0px 6px 50px -15px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 6px 50px -15px rgba(0,0,0,0.75);
  box-shadow: 0px 6px 50px -15px rgba(0,0,0,0.75); */
  border-radius: .5em;
  background: rgba(0, 0, 0, 0.025);

}

.media-body h5 {
  font-size: 1em;
  padding: 1em 0;
}

li.media {
  margin: 1em 0;
}

.media-body h5 {
  font-family: 'Encode Sans Semi Expanded', sans-serif;

}

#first {
    height: 450px;
    width: 100%;
    max-width: 100%;
    background-image: url("../imgs/img1.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#about {
  background-image: url("../imgs/army2.jpg");
  background-position: center center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: auto;
  width: 100%;
  padding: 2em;
}

div.col-md-12 {
  margin: 1.5em 0;
}

.col-md-12,.col-md-6 ul {
  line-height: 2em;
}


picture img {
  /*height: 330px;
  width: 300px;*/
  width: 200px;
  -webkit-box-shadow: 0px 2px 20px 1px rgba(255,255,255,0.5);
  -moz-box-shadow: 0px 2px 20px 1px rgba(255,255,255,0.5);
  box-shadow: 0px 2px 20px 1px rgba(255,255,255,0.5); */
}


#about {
  color: white;
  padding-bottom: 2em;
}

#about h2 {
  color: white;
}

#about h2.display-3{
  padding-top: .5em;
}

/*#about-pics img {
  height: auto;
  text-align: center;
  border-radius: 1em;
}*/


#about-pics img:nth-of-type(2) {
  -webkit-box-shadow: 0px 2px 20px 1px rgba(255,255,255,0.5);
  -moz-box-shadow: 0px 2px 20px 1px rgba(255,255,255,0.5);
  box-shadow: 0px 2px 20px 1px rgba(255,255,255,0.5); */
}
#about-pics img:nth-of-type(1) {
  -webkit-box-shadow: 0px 2px 20px 1px rgba(255,255,255,0.5);
  -moz-box-shadow: 0px 2px 20px 1px rgba(255,255,255,0.5);
  box-shadow: 0px 2px 20px 1px rgba(255,255,255,0.5); */
}

#about-description {
  /*margin: 0em 10em 5em 10em;*/
  font-size: 18px;
  margin-bottom: 2.5em;
}

#about-pics {
  margin: 1em;
  margin-left: 2em;
  width: 40%;
}

.about-mike {
    color: white;
}
.about-mike li {
  list-style: square;
}

.about-qualifications {
  padding: .5em .5em .5em .5em;
  /*list-style-type: none;*/
}

#american {
 color: #BF0A30;
 font-family: 'Play', sans-serif;
 text-shadow: 0px 0px 3px rgba(255, 255, 255, 0.4);
}

#veteran {
 color: white;
 font-weight: 300;
 font-family: 'Play', sans-serif;
 /*text-shadow: 1px 1px 1px black;*/
 text-shadow:
  -1px -1px 0 #000,
   1px -1px 0 #000,
   -1px 1px 0 #000,
    1px 1px 0 #000;
}

#security {
  color: royalblue;
  font-family: 'Play', sans-serif;
/*
  color: #002868;
  text-shadow:
   -1px -1px 0 ivory,
    1px -1px 0 ivory,
    -1px 1px 0 ivory,
     1px 1px 0 ivory;*/
   }

#title h1 {
  font-weight: bold;
}

#title p {
  font-size: 1.5em;
}

.navbar-light .nav-item {
    margin: 0 1.5em;
}

/* Services Section */
.jumbotron {
  background: none;
}

.contact-icons i {
  font-size: 1.2em;
  text-align: center;
}
span.contact-icons {
  font-size: 10em;
}

.contact-icons {
  line-height: 2em;
}
/* About us Section */

.contact-icons a {
  color: rgba(0,0,0,0.7);
  text-decoration: underline;
  text-decoration-color: rgba(191,10,48,0.4);
  text-decoration-style: dotted;
}

.contact-icons a:hover{
  text-decoration-color: #002868;
  text-decoration: none;
}

.fab.fa-linkedin {
  color: white;
  transition: .5s;
  background-color: #0077B5;
  height: 35px;
  width: 35px;
  text-align: center;
  vertical-align: center;
  border-radius: .15em;
  padding-top: .12em;
}

.fab.fa-linkedin:hover {
  transform: scale(1.5);
}
/* contact us Section */
#contact {
  margin: 2em 0;
  padding: 1em 0;
}

#contact_telephone_num {
  font-size: 1.5em;
  font-weight: bold;
}

#social {
  background-image: url("../imgs/sf.jpg");
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 50px;
  width: 100%;
  opacity: .75;
  text-align: center;
}

#social i {
  padding: 0 0.8em;
  margin-top: .75em;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  font-size: 20px;
  width: 2em;
}

#social i:hover {
  color: white;
  text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
}

.ln-text{
  color: white;
  text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
}

.top-cont {
  height: 40px;
  width: 100%;
  max-width: 100%;
  background: black;
  color: white;
  position: fixed;
  z-index: 1200;
  display: none;
  opacity: .6;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
}

.top-cont p{
  color: rgba(255, 255, 255, .5);
  text-align: center;
  padding-top: .5em;
}

.top-desktop-cont {
  height: 60px;
  width: 100%;
  max-width: 100%;
  background: black;
  color: white;
  position: fixed;
  z-index: 1200;
  display: block;
  opacity: .7;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
  line-height: 0.1;
}

.top-desktop-cont h2{
  color: rgba(255, 255, 255, .5);
  text-align: left;
  padding-top: 0em;
  padding-left: 1em;
  display: block;
}

.top-cont {
  font-weight: bold;
}

.top-cont a:hover{
  color:inherit;
  color: white;
  text-decoration: none;
}

.top-cont-hover {
  opacity: 0.8;
}

#top-subtitle {
  font-size: 1.25em;
  color: white;
  font-family: 'Play', sans-serif;
  padding-left: 7em;
  letter-spacing: 5px;
}

.con-card {
  border-radius: 78px 78px 78px 78px;
  -moz-border-radius: 78px 78px 78px 78px;
  -webkit-border-radius: 78px 78px 78px 78px;
  border: 0px solid #000000;
  background: red;
  padding: 0.5em 1em;
  background: rgba(0, 0, 0, 0.7);
  display: block;
  margin-top: 1em;
  -webkit-box-shadow: -1px 10px 65px -10px rgba(0,0,0,1);
  -moz-box-shadow: -1px 10px 65px -10px rgba(0,0,0,1);
  box-shadow: -1px 10px 65px -10px rgba(0,0,0,1);
  margin-top: 23.5em;
}

.con-card p {
  color: white;
  padding: .5em 0 .5em 2em;
}

.con-card span {
  font-size: 35px;
  font-weight: bold;
}

.con-card-hover {
  background: rgba(0, 0, 0, 0.75);
}

#copy {
  height: 265px;
  width: 100%;
  background-image: url("../imgs/army.jpg");
  background-position: center;
  background-size: cover;
}

#copy p {
  color: white;
  text-align: center;
  vertical-align: center;
  padding: 2.2em 0;
  font-family: 'Encode Sans Semi Expanded', sans-serif;
}

#copy div {
  padding-top: 2em;
}

#linkedin-icon {
  padding: 0px 5px 0px 5px;
  margin-left: 1em;
  border: 1px solid royalblue;
  border-radius: 3px;
  background-color: royalblue;
}

#linkedin-icon:hover {
  background-color: inherit;
  border: inherit;
}

#jsd {
  width: 100%;
  font-weight: bold;
  margin-top: 0.0em;
  padding-right: 5em;
  margin-bottom: 0.0em;
  font-size: 10px;
  color: #D3461C;
  text-align: right;
  background-color: rgba(0,0,0,0.9);
}

#jsd a {
  color: #D3461C;
}

#jsd a:hover {
  color: darkgray;
}

#copyright {
  font-size: 1.1em;
  font-family: 'Play', sans-serif;
}

#tagline {
  font-size: 1em;
  font-family: 'Play', sans-serif;
}

.media-fix img {
  height: auto;
  width: 175px;
}

.spacer {
  width: 100%;
  height: 1em;
}

.military-pics {
  /*margin-right: 4em;*/
}

.military-pics img {
  width: 75px;
  /*margin-right: 5em;*/
}

#marines-pic img {
  height: auto;
  text-align: center;
  border-radius: .5em;
}

#army-pic img {
  width: 110px;
  height: auto;
  text-align: center;
  border-radius: 1em;
}

#mp-pic img {
  height: auto;
  text-align: center;
  border-radius: 4em;
}
#marines-pic {
  margin-bottom: 1em;
  margin-left: 2em;
  margin-right: 1em;
  display: inline;
}
#army-pic {
  display: inline;
  margin-right: 1em;
}

#mp-pic {
  display: inline;
  margin-top: 1em;

}

.portrait-container {
  width: 12rem;
  padding-top: 0em;
  margin-left: 5em;
}

.portrait-container img,
.portrait-container h4 {
  margin-bottom: 1em;
}

#footer-nav,
#footer-nav a,
#home-link-nav,
#home-link-nav:hover {
  color: gray;
}

#footer-nav span {
  padding-left: .25em;
  padding-right: .25em;
}

#home-link-nav:hover {
  text-decoration: underline;
  cursor: pointer;

}

.sitemap-container {
  height: 9em;
}

#embedded_map {
  margin: 0;
  padding: 0;
}

.mike-imgs {
  max-width: 300px;
  margin:0 auto;
}

.enclosure-description {
  margin-bottom: 1em;
}

.enclosure-services {
  margin-top: 2em;
}

.svc-padding {
  padding: 1.5em 1.75em 1.5em 1.75em;
}

.svc-margin {
  margin-top: 2em;
}

.svc-section-spacer {
  height: 1.25em;
}

@media (min-width: 1159px) {
  .enclosure-services {
    margin-top: 3em;
  }
}

#service-area {
  position: relative;
  min-height: 400px;
  padding: 2em 0;
  background: rgb(0,0,0);
  background: rgb(135,52,38);
  background: linear-gradient(180deg, rgba(135,52,38,1) 0%, rgba(196,76,55,1) 1%, rgba(255,99,71,1) 100%);
}

.city-list {
  margin-top: 2em;
}

.list-group li {
  background: transparent !important;
}

.list-group-item {
  background: transparent !important;
  color: white;
  font-size: 20px;
}


a .list-group-item:hover {
  font-size: 21px;
  transition: all ease-in-out .2s;
  text-decoration: none !important;
}

a .list-group-item {
  text-decoration: none !important;
}

.card {
  background: none !important;
  border: none;
  color: white;
}


.service-area-header {
  height: 10%;
  width: 100%;
  background: url("../imgs/img1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: inset 0 0 0 2000px rgba(0,0,0,0.7);
}

.service-area-header .display-2 {
  font-size: 350%;
  text-align: center;
  color: white;
  text-transform: uppercase;
}

.service-area-main {
  min-height: 800px;
}


.form-group label {
  color: black;
}