/*  CONTAINERS  */
@media (max-width: 1200px) {
  .con-card {
    display: none;
  }
  .top-desktop-cont {
    display: none;
  }
  .top-cont {
    display: block;
  }
  #jsd {
    text-align: center;
  }
}

/*  SERVICES  */
@media (min-width: 1400px) {
  .media-body h5 {
    font-size: 1.5em;
  }
}

@media (max-width: 800px) {
  .mt-0.mb-1 {
    font-size: 1em;
  }
  .founder-portrait h3{
    font-size: 20px;
  }
  .founder-portrait i{
    font-size: 24px;
  }
  #about h3 {
    font-size: 1em;
  }
  .fab.fa-linkedin {
    padding-top: .12em;
    height: 25px;
    width: 25px;
  }

}

@media (max-width: 600px) {
  .media img {
    height: 40px;
    width: 60px;
  }
  li.media {
    margin-bottom: -0.5em;
    height: 40px;
  }
  .media-body h5 {
    padding: .5em 0;
  }
  .sitemap-container {
    margin: 2em 0em 0em 0em;
  }
}

@media (min-width: 600px) {
  .media-body h5 {
    font-size: 1.5em;
  }
}

/*  NAVBAR  */
@media (max-width: 600px) {
  #logo {
    height: 8em;
    width: 10em;
    }
    .media-body h5 {
      font-size: 1.7;
    }
}

  /*  TITLE  */
#title
  @media (max-width: 1430px) {
    #american, #veteran, #security {
      font-size: .7em;
    }
  }
  @media (max-width: 1050px) {
    #american, #veteran, #security {
      font-size: .5em;
    }
  }

  @media (max-width: 600px) {
    #american, #veteran, #security {
      font-size: .9em;
    }
  }

/*  ABOUT  */
@media (max-width: 600px) {
  #about-description,
  #services-description {
    margin: 0em 0em 3.5em 0em;
    font-size: 14px;
    text-align: justify;
  } #about h3 {
    font-size: 1.5em;
  }
}


/*  CONTACT  */
@media (max-width: 600px) {
  .contact-icons a {
    font-size: 95%;
  }
  #contact h1 {
    font-size: 4em;
  }
  #contact-details {
    padding-left: 2em;
  }
  #about h1 {
    font-size: 4em;
  }
  #services h1 {
    font-size: 4em;
  }
  #address-city {
    white-space: nowrap;
    margin-left: 2em;
  }
  #footer-nav,
  #footer-nav a,
  #home-link-nav,
  #home-link-nav:hover {
    color: darkgray;
    font-weight: bold;
  }
}

@media (max-width: 550px) {
  #mikes-qualifications,
  #guards-qualifications {
    margin-left: -1.5em;
    /*font-size: smaller;*/
  }
  .fab.fa-linkedin {
    padding-top: .12em;
  }
}
