body html {
    top: 0;
    bottom: 0;
}

#logo {
  height: 100px;
  width: 120px;
}

@media (max-width: 600px) {
  #logo {
    height: 8em;
    width: 10em;
    }
    .media-body h5 {
      font-size: 1.7;
    }
}

#title-bar {
  position: fixed;
  top: 0;
  transition: top 0.6s;
}

#services a {
  color: black;
}
#services a:hover {
  color: #BF0A30;
  text-decoration: none;
}

#service-page li {
  list-style: none;
  font-size: 2em;
  font-weight: bold;
  font-family: 'Encode Sans Semi Expanded', sans-serif;
  padding: 1em 0 .5em 0;
  margin-top: .75em;
}

#service-page img {
  height: 100px;
  width: 120px;
  float: left;
}

#service-page p {
  display: inline;
  color: rgba(0,0,0, 0.6);
}



#services {
  padding: 2em;
  /*height: 600px;*/
}
#service.media {
    vertical-align: middle;
    padding-left: 5em;
}

#services h1 {
  padding-bottom: .5em;
}

#services-description {
  font-size: 16px;
  color: black;
}

.media img {
  height: 80px;
  width: 100px;
}

.media:hover{
  -webkit-box-shadow: 0px 6px 50px -15px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 6px 50px -15px rgba(0,0,0,0.75);
  box-shadow: 0px 6px 50px -15px rgba(0,0,0,0.75); */
  border-radius: .5em;
  background: rgba(0, 0, 0, 0.025);

}

.media-body h5 {
  font-size: 1em;
  padding: 1em 0;
}

li.media {
  margin: 1em 0;
}

@media (min-width: 1400px) {
  .media-body h5 {
    font-size: 1.5em;
  }
}

@media (min-width: 600px) {
  .media-body h5 {
    font-size: 1.5em;
  }
}

@media (max-width: 600px) {
  .media img {
    height: 40px;
    width: 60px;
  }
  li.media {
    margin-bottom: -0.5em;
    height: 40px;
  }
  .media-body h5 {
    padding: .5em 0;
  }
}

.media-body h5 {
  font-family: 'Encode Sans Semi Expanded', sans-serif;

}

#first {
    height: 450px;
    width: 100%;
    max-width: 100%;
    background-image: url("../imgs/photos/img1.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#about {
  background-image: url("../imgs/photos/army2.jpg");
  background-position: center center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: auto;
  width: 100%;
}

picture img {
  height: 330px;
  width: 300px;
  -webkit-box-shadow: 0px 2px 20px 1px rgba(255,255,255,0.5);
  -moz-box-shadow: 0px 2px 20px 1px rgba(255,255,255,0.5);
  box-shadow: 0px 2px 20px 1px rgba(255,255,255,0.5); */
}
#about p {
  color: white;
}

#about h1 {
  color: white;
}
#about h1.display-3{
  padding-top: .5em;
}

#about-pics img {
  height: 15%;
  width: 32%;
  text-align: center;
  border-radius: 2em;
}

#about-pics img:nth-of-type(2) {
  -webkit-box-shadow: 0px 2px 20px 1px rgba(255,255,255,0.5);
  -moz-box-shadow: 0px 2px 20px 1px rgba(255,255,255,0.5);
  box-shadow: 0px 2px 20px 1px rgba(255,255,255,0.5); */
}
#about-pics img:nth-of-type(1) {
  -webkit-box-shadow: 0px 2px 20px 1px rgba(255,255,255,0.5);
  -moz-box-shadow: 0px 2px 20px 1px rgba(255,255,255,0.5);
  box-shadow: 0px 2px 20px 1px rgba(255,255,255,0.5); */
}

#about-description {
  margin: 0em 10em 5em 10em;
  font-size: 16px;
}

@media (max-width: 600px) {
  #about-description {
    margin: 0em 2em 3.5em 2em;
    font-size: 16px;
  }
  #about-pics {
    margin-top: 3.5em;
  }
}

.about-mike {
    color: white;
}
.about-mike li {
  list-style: square;
}

#american {
 color: #BF0A30;
 font-family: 'Play', sans-serif;
 text-shadow: 0px 0px 3px rgba(255, 255, 255, 0.4);
}
#veteran {
 color: white;
 font-weight: 300;
 font-family: 'Play', sans-serif;
 /*text-shadow: 1px 1px 1px black;*/
 text-shadow:
  -1px -1px 0 #000,
   1px -1px 0 #000,
   -1px 1px 0 #000,
    1px 1px 0 #000;
}
#security {
  color: royalblue;
  font-family: 'Play', sans-serif;
/*
  color: #002868;
  text-shadow:
   -1px -1px 0 ivory,
    1px -1px 0 ivory,
    -1px 1px 0 ivory,
     1px 1px 0 ivory;*/
   }

#title h1 {
  font-weight: bold;
}


#title p {
  font-size: 1.5em;
}

#title
@media (max-width: 1430px) {
  #american, #veteran, #security {
    font-size: .7em;
  }
}
@media (max-width: 1050px) {
  #american, #veteran, #security {
    font-size: .5em;
  }
}

@media (max-width: 600px) {
  #american, #veteran, #security {
    font-size: .9em;
  }
}

.navbar-light .nav-item {
    margin: 0 1.5em;
}

/* Services Section */
.jumbotron {
  background: none;
}


.contact-icons i {
  font-size: 1.2em;
  text-align: center;
}
span.contact-icons {
  font-size: 10em;
}

.contact-icons {
  line-height: 2em;
}
/* About us Section */


.contact-icons a {
  color: rgba(0,0,0,0.7);
  text-decoration: underline;
  text-decoration-color: rgba(191,10,48,0.4);
  text-decoration-style: dotted;
}

@media (max-width: 600px) {
  .contact-icons a {
    font-size: 95%;
  }
}

.contact-icons a:hover{
  text-decoration-color: #002868;
  text-decoration: none;
}

.fab.fa-linkedin {
  color: white;
  transition: .5s;
}

.fab.fa-linkedin:hover {
  color: #0077B5;
  transform: scale(1.7);
}
/* contact us Section */
#contact{
  margin: 2em 0;
  padding: 1em 0;
}


#social {
  background-image: url("../imgs/sf.jpg");
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 50px;
  width: 100%;
  opacity: .75;
  text-align: center;
}

#social i {
  padding: 0 0.8em;
  margin-top: .75em;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  font-size: 20px;
  width: 2em;
}

#social i:hover {
  color: white;
  text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
}

.ln-text{
  color: white;
  text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
}


.top-cont {
  height: 40px;
  width: 100%;
  max-width: 100%;
  background: black;
  color: white;
  position: fixed;
  z-index: 1200;
  display: none;
  opacity: .6;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
}


.top-cont p{
  color: rgba(255, 255, 255, .5);
  text-align: center;
  padding-top: .5em;
}


.top-desktop-cont {
  height: 60px;
  width: 100%;
  max-width: 100%;
  background: black;
  color: white;
  position: fixed;
  z-index: 1200;
  display: block;
  opacity: .7;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
  line-height: 0.1;
}

.top-desktop-cont h3{
  color: rgba(255, 255, 255, .5);
  text-align: left;
  padding-top: .15em;
  padding-left: 1em;
  display: block;
}

.top-cont a:hover{
  color:inherit;
  color: white;
  text-decoration: none;
}

#top-title {}

#top-subtitle {
  font-size: 1.25em;
  color: white;
  font-family: 'Play', sans-serif;
  padding-left: 7em;
  letter-spacing: 5px;
}

.con-card {
  border-radius: 78px 78px 78px 78px;
  -moz-border-radius: 78px 78px 78px 78px;
  -webkit-border-radius: 78px 78px 78px 78px;
  border: 0px solid #000000;
  background: red;
  padding: 0.5em 1em;
  background: rgba(0, 0, 0, 0.7);
  display: block;
  margin-top: 1em;
  -webkit-box-shadow: -1px 10px 65px -10px rgba(0,0,0,1);
  -moz-box-shadow: -1px 10px 65px -10px rgba(0,0,0,1);
  box-shadow: -1px 10px 65px -10px rgba(0,0,0,1);
  margin-top: 23.5em;
}

.con-card p {
  color: white;
  padding: .5em 0 .5em 2em;
}

.con-card span {
  font-size: 35px;
  font-weight: bold;
}

@media (max-width: 1200px) {
  .con-card {
    display: none;
  }
  .top-desktop-cont {
    display: none;
  }
  .top-cont {
    display: block;
  }
}


#copy {
  height: 100px;
  width: 100%;
  background-image: url("../imgs/photos/army.jpg");
  background-position: center;
  background-size: cover;
}

#copy p {
  color: white;
  text-align: center;
  vertical-align: center;
  padding: 2.2em 0;
  font-family: 'Encode Sans Semi Expanded', sans-serif;
}

#linkedin-icon {
  padding: 0px 5px 0px 5px;
  margin-left: 1em;
  border: 1px solid royalblue;
  border-radius: 3px;
  background-color: royalblue;
}

#linkedin-icon:hover {
  background-color: inherit;
  border: inherit;
}
